pck/stepfunction_12H.json
{
  "Comment": "This state machine collects triggers and pretriggers every 12H",
  "StartAt": "InvokeStormSearch",
  "States": {
    "InvokeStormSearch": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:581736746758:function:aaastormsETL-dev-etl:$LATEST",
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "ChooseIfStorms",
      "OutputPath": "$.Payload"
    },
    "ChooseIfStorms": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$",
          "IsNull": true,
          "Next": "Success"
        }
      ],
      "Default": "Map"
    },
    "Success": {
      "Type": "Succeed",
      "Comment": "Storm search ran correctly but no storms were detected."
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "InvokeTriggerAnalysis",
        "States": {
          "InvokeTriggerAnalysis": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:us-east-1:581736746758:function:aaastormsETL-dev-etlTriggers:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "InvokeReports",
            "OutputPath": "$.Payload"
          },
          "InvokeReports": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:us-east-1:581736746758:function:aaastormsETL-dev-report:$LATEST"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "End": true
    }
  },
  "TimeoutSeconds": 600
}